@import url('/css/bootstrap.css');
@import url('/css/bootstrap-grid.css');
@import url('/css/bootstrap-reboot.css');

body{
    margin: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}
.header{    
    margin: 0;
    padding: 0;
    background-image: url(/images/banner.jpeg);
    background-size: 100% 100%;
}
.title {
    margin: 0;
    padding: 25px 0 30px 0;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    text-shadow: 2px 0 black, 0 2px black, -2px 0 black, 0 -2px black;
} /*
nav {
    margin: 0;
    background-color: black;
}
nav ul {
    margin: 0;
    list-style: none;
    text-align: center;
}
nav ul a {
    margin: 0px 10px;
    padding: 8px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    display: inline-block;
    appearance: none;
    text-decoration: none;
}
nav ul a:hover {
    color: lightgray;
    text-decoration: underline;
} */
/************** Main Page **************/
main {
    padding: 10px 0 0 0;
    /*background-attachment: fixed;*/
    background-image: url(/images/bg2stamp.jpg);
    /*background-size: cover;*/
    background-repeat: repeat;
    min-height: 100vh;
}
.main_page {
    margin: 0;
    width: 100%;
    display: inline-flex;
}
#message_board {
    margin: 0 2%;
    width: 22%;
    text-align: center;
    color: white;
    background-color: black;
    border: 5px solid white;
}
#team_board {
    margin: 0;
    padding: 20px 10px;
    width: 48%;
    color: white;
    text-align: center;
    background-color: black;
    border: 5px solid white;
}
#team_board p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: underline;
}
#team_board h4 {
    margin: 0;
    padding: 0;
}
#team_board h4:first-of-type {
    text-decoration: underline;
}
#team_board a {
    color: white;
    text-decoration: none;
}
#team_board ol {
    margin: 0;
}
#team_board ol li {
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0px;
}
#transaction_board {
    margin: 0 2%;
    width: 22%;
    text-align: center;
    color: white;
    background-color: black;
    border: 5px solid white;
}
#nfl_board {
    margin: 10px 2%;
    width: 22%;
    text-align: center;
    color: white;
    background-color: black;
    border: 5px solid white;
}
#matchups_board {
    margin: 10px 0;
    padding: 20px 10px;
    width: 48%;
    color: white;
    background-color: black;
    border: 5px solid white;
    text-align: center;
    min-height: 400px;
}
#free_agents_board {
    margin: 10px 2%;
    width: 22%;
    text-align: center;
    color: white;
    background-color: black;
    border: 5px solid white;
}
/************** Login **************/
.login_box {
    margin: 0 auto;
    padding: 20px 10px;
    width: 48%;
    color: white;
    text-align: center;
    background-color: black;
    border: 5px solid white;
}